#
# Copyright (C) 2023-2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on early-init
    # SSR
    write /sys/bus/msm_subsys/devices/subsys0/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys1/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys2/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys3/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys4/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys5/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys6/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys7/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys8/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys9/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys10/restart_level RELATED

on init
    copy_per_line /dev/cpuctl/tasks /dev/cpuctl/system/tasks

on boot
    chown system system /dev/cpuset/cgroup.procs
    chown system system /dev/cpuset/foreground/cgroup.procs
    chown system system /dev/cpuset/background/cgroup.procs
    chown system system /dev/cpuset/system-background/cgroup.procs
    chown system system /dev/cpuset/top-app/cgroup.procs

    chmod 0666 /dev/cpuset/foreground/cgroup.procs
    chmod 0666 /dev/cpuset/background/cgroup.procs
    chmod 0666 /dev/cpuset/system-background/cgroup.procs
    chmod 0666 /dev/cpuset/top-app/cgroup.procs
    chmod 0666 /dev/cpuset/cgroup.procs

    chown system system /dev/stune/background/cgroup.procs
    chown system system /dev/stune/top-app/cgroup.procs
    chmod 0666 /dev/stune/background/cgroup.procs
    chmod 0666 /dev/stune/top-app/cgroup.procs

on property:vendor.post_boot.parsed=1
    # cpuset parameters
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/restricted/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-6
    write /dev/cpuset/audio-app/cpus 1-2

    # Runtime fs tuning
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/iostats 1
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128
    write /sys/block/dm-4/queue/read_ahead_kb 128
    write /sys/block/dm-5/queue/read_ahead_kb 128
    write /sys/block/dm-6/queue/read_ahead_kb 128
    write /sys/block/dm-7/queue/read_ahead_kb 128
    write /sys/block/dm-8/queue/read_ahead_kb 128
    write /sys/block/dm-9/queue/read_ahead_kb 128

    # Disable multiple kswapd threads
    write /proc/sys/vm/kswapd_threads 1

    # IRQ Tuning
    # IRQ 278: msm_drm
    # IRQ 275: kgsl_3d0_irq
    write /proc/irq/278/smp_affinity_list 2
    write /proc/irq/275/smp_affinity_list 1

    # Configure uclamp
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/background/cpu.uclamp.max 50
    write /dev/cpuctl/system-background/cpu.uclamp.max 50
    write /dev/cpuctl/dex2oat/cpu.uclamp.max 60
    # Setup cpu.shares to throttle background groups (bg ~ 5% sysbg ~ 5% dex2oat ~2.5%)
    write /dev/cpuctl/background/cpu.shares 1024
    write /dev/cpuctl/system-background/cpu.shares 1024
    write /dev/cpuctl/dex2oat/cpu.shares 512
    write /dev/cpuctl/system/cpu.shares 20480
    # We only have system and background groups holding tasks and the groups below are empty
    write /dev/cpuctl/camera-daemon/cpu.shares 20480
    write /dev/cpuctl/foreground/cpu.shares 20480
    write /dev/cpuctl/nnapi-hal/cpu.shares 20480
    write /dev/cpuctl/rt/cpu.shares 20480
    write /dev/cpuctl/top-app/cpu.shares 20480

    # CPUSets
    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,5,6
    setprop dalvik.vm.dex2oat-threads 6

on property:sys.boot_completed=1
    # Migrate tasks again in case kernel threads are created during boot
    copy_per_line /dev/cpuctl/tasks /dev/cpuctl/system/tasks

    swapon_all /vendor/etc/fstab.zram
