#
# Copyright (C) 2023 The LineageOS Project
# Copyright (C) 2023 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

on init
    write /dev/blkio/background/blkio.ssg.max_available_ratio 25

on property:vendor.post_boot.parsed=1
    # IRQ Tuning
    # IRQ 243: msm_drm
    # IRQ 240: kgsl_3d0_irq
    write /proc/irq/243/smp_affinity_list 2
    write /proc/irq/240/smp_affinity_list 1
