#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on early-init
    # configure governor settings
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000

    # configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor performance
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000

    # configure governor settings for big big CPU
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor performance
    write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/down_rate_limit_us 20000

    # SSR
    write /sys/bus/msm_subsys/devices/subsys0/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys1/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys2/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys3/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys4/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys5/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys6/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys7/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys8/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys9/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys10/restart_level RELATED

on init
    # Boot time cpuset and stune
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/background/cpus 0-5
    write /dev/cpuset/system-background/cpus 0-5
    write /dev/cpuset/restricted/cpus 2-5
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/foreground/schedtune.prefer_high_cap 1
    write /dev/stune/foreground/schedtune.boost 100
    write /dev/stune/schedtune.prefer_idle 1
    write /dev/stune/schedtune.prefer_high_cap 1
    write /dev/stune/schedtune.boost 100
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_high_cap 1
    write /dev/stune/top-app/schedtune.boost 100

on boot
    chown system system /dev/cpuset/cgroup.procs
    chown system system /dev/cpuset/foreground/cgroup.procs
    chown system system /dev/cpuset/background/cgroup.procs
    chown system system /dev/cpuset/system-background/cgroup.procs
    chown system system /dev/cpuset/top-app/cgroup.procs

    chmod 0666 /dev/cpuset/foreground/cgroup.procs
    chmod 0666 /dev/cpuset/background/cgroup.procs
    chmod 0666 /dev/cpuset/system-background/cgroup.procs
    chmod 0666 /dev/cpuset/top-app/cgroup.procs
    chmod 0666 /dev/cpuset/cgroup.procs

    chown system system /dev/stune/background/cgroup.procs
    chown system system /dev/stune/top-app/cgroup.procs
    chmod 0666 /dev/stune/background/cgroup.procs
    chmod 0666 /dev/stune/top-app/cgroup.procs

on property:vendor.post_boot.parsed=1
    # cpuset parameters
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/restricted/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-6
    write /dev/cpuset/audio-app/cpus 1-2

    # Runtime fs tuning
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/iostats 1
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128
    write /sys/block/dm-4/queue/read_ahead_kb 128
    write /sys/block/dm-5/queue/read_ahead_kb 128
    write /sys/block/dm-6/queue/read_ahead_kb 128
    write /sys/block/dm-7/queue/read_ahead_kb 128
    write /sys/block/dm-8/queue/read_ahead_kb 128
    write /sys/block/dm-9/queue/read_ahead_kb 128

    # Disable multiple kswapd threads
    write /proc/sys/vm/kswapd_threads 1

    # IRQ Tuning
    # IRQ 278: msm_drm
    # IRQ 275: kgsl_3d0_irq
    write /proc/irq/278/smp_affinity_list 2
    write /proc/irq/275/smp_affinity_list 1

    # CPUSets
    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,5,6
    setprop dalvik.vm.dex2oat-threads 6

on property:sys.boot_completed=1
    swapon_all /vendor/etc/fstab.zram

service lahaina-post-boot /vendor/bin/init.lahaina.post_boot.sh
    class late_start
    user root
    group root system wakelock graphics
    disabled
    oneshot

on property:vendor.post_boot.parsed=1
    start lahaina-post-boot
